<template>
  <div>
    <div class="main__wrapper">
      <router-view />
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
export default {
  name: "App",
  setup() {
    return {};
  },
};
</script>

<style>
#app {
  font-family: JetBrainsMono;
  /* font-family: Avenir, Helvetica, Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.link-reg {
  margin-top: 10px;
  font-size: 12px;
}
.link-reg__route {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
/* .main__wrapper {
  background: rgba(158, 175, 97, 0.637);
  width: 400px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgb(103, 105, 105);
} */
.btn {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  margin: 8px auto;
}
.btn_block {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  padding: 50px;
}
.btn-login {
  box-shadow: 1px 1px 10px cadetblue;
  background: rgb(1, 163, 128);
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #2c3e50;
}
.btn-login:hover {
  box-shadow: 1px 1px 15px rgb(0, 248, 227);
  background: rgb(3, 231, 182);
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 15px rgb(255, 255, 255);
}
.btn-registration {
  box-shadow: 1px 1px 10px cadetblue;
  background: rgb(0, 158, 163);
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #2c3e50;
}
.btn-registration:hover {
  box-shadow: 1px 1px 15px rgb(0, 248, 227);
  background: rgb(2, 226, 241);
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 15px rgb(255, 255, 255);
}
.header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #2c3e50;
}
.header__list {
  display: flex;
  color: aliceblue;
  list-style-type: none;
}
.header__list-element {
  align-self: center;
  margin-left: 10px;
}
.header__list-element:hover {
  color: aquamarine;
  cursor: pointer;
}
.btn__logout {
  box-shadow: 1px 1px 10px rgb(170, 8, 8);
  background: rgb(145, 27, 19);
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #2c3e50;
  margin: 10px;
  width: 150px;
  height: 30px;
  border-radius: 5px;
}
.btn__logout:hover {
  box-shadow: 1px 1px 15px rgb(248, 29, 0);
  background: rgb(233, 53, 9);
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 15px rgb(255, 255, 255);
}
.isSelect {
  color: aquamarine;
}
</style>
