@font-face {
  font-family: "JetBrainsMono";
  src: url("./assets/fonts/JetBrainsMono-Regular.ttf");
  src: url("./assets/fonts/JetBrainsMono-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "JetBrainsMonoThin";
  src: url("./assets/fonts/JetBrainsMono-Thin.ttf");
  src: url("./assets/fonts/JetBrainsMono-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "JetBrainsMonoBold";
  src: url("./assets/fonts/JetBrainsMono-ExtraBold.ttf");
  src: url("./assets/fonts/JetBrainsMono-ExtraBold.woff2") format("woff2");
}
html {
  font-family: JetBrainsMono;
  top: 50px;
}
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
