<template>
  <div class="header__home">
    <div class="header__home-list">
      <button
        class="btn btn-login header__home-list-element"
        @click="handleLoginRouteLink"
      >
        Login
      </button>
      <button
        class="btn btn-registration header__home-list-element"
        @click="handleRegistrationRouteLink"
      >
        Registration
      </button>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
import { useRouter } from "vue-router";
export default {
  name: "App",
  setup() {
    const headerList = ref([
      { id: 1, name: "Создать ссылку" },
      { id: 2, name: "Список ссылок" },
    ]);
    const isSelect = ref(false);
    const numSelect = ref(0);
    const selecting = (num) => {
      numSelect.value = num + 1;
    };
    const router = useRouter();
    const handleLoginRouteLink = () => {
      router.push({ name: "login" });
    };
    const handleRegistrationRouteLink = () => {
      router.push({ name: "registration" });
    };
    return {
      handleLoginRouteLink,
      handleRegistrationRouteLink,
      headerList,
      isSelect,
      numSelect,
      selecting,
    };
  },
};
</script>
<style>
.header__home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #2c3e50;
}
.header__home-list {
  color: aliceblue;
}
.header__home-list-element {
  /* align-self: flex-end; */
  margin-left: 10px;
}
</style>
