<template>
  <div>
    <div class="header">
      <button class="btn__logout" @click="routeBack">
        Back
      </button>
    </div>
    <LinkInfo />
  </div>
</template>
<script>
import LinkInfo from "@/components/UI/LinkInfo";
import { useRouter } from "vue-router";
export default {
  components: {
    LinkInfo,
  },
  setup() {
    const router = useRouter();
    const routeBack = () => {
      router.push({ path: "/user" });
    };
    return {
      routeBack,
    };
  },
};
</script>
