<template>
  <div>
    <Modal title="Login form" v-if="showModal" @onClose="handleModalShow">
      <Login />
      <span class="link-reg"
        >Ещё нет аккаунта? Нажимте
        <span class="link-reg__route" @click="handleRegistrationRouteLink"
          >сюда</span
        >
        что бы зарегистрироваться</span
      >
    </Modal>
  </div>
</template>
<script>
import Login from "@/components/UI/Login";
import Modal from "@/components/UI/Modal";
import { ref } from "vue";
import { useRouter } from "vue-router";
export default {
  components: {
    Login,
    Modal,
  },
  setup() {
    const router = useRouter();
    const showModal = ref(true);
    const handleRegistrationRouteLink = () => {
      router.push({ name: "registration" });
    };
    const handleModalShow = () => {
      const nextShowModal = (showModal.value = !showModal.value);
      showModal.value = nextShowModal;
      router.push({ name: "home" });
    };
    return {
      showModal,
      handleModalShow,
      handleRegistrationRouteLink,
    };
  },
};
</script>
<style></style>
