<template>
  <div>
    <Modal
      title="Registration form"
      v-if="showModal"
      @onClose="handleModalShow"
    >
      <Registration />
      <span class="link-reg"
        >Уже зарегистрировались? Нажимте
        <span class="link-reg__route" @click="handleLoginRouteLink">сюда</span> что бы
        войти</span
      >
    </Modal>
  </div>
</template>
<script>
import Registration from "@/components/UI/Registration";
import Modal from "@/components/UI/Modal";
import { ref } from "vue";
import { useRouter } from "vue-router";
export default {
  components: {
    Registration,
    Modal,
  },
  setup() {
    const router = useRouter();
    const showModal = ref(true);
    const handleLoginRouteLink = () => {
      router.push({ name: "login" });
    };
    const handleModalShow = () => {
      const nextShowModal = (showModal.value = !showModal.value);
      showModal.value = nextShowModal;
      router.push({ name: "home" });
    };
    return {
      showModal,
      handleModalShow,
      handleLoginRouteLink,
    };
  },
};
</script>
