<template>
  <div>
    <FormRegistration
      :URL_API="URL_API"
      :formName="formName"
      v-if="formName === 'Registration'"
    />
    <FormLogin :URL_API="URL_API" :formName="formName" v-else />
  </div>
</template>
<script>
import FormRegistration from "@/components/forms/FormRegistration";
import FormLogin from "@/components/forms/FormLogin";

export default {
  props: {
    URL_API: {
      type: String,
      required: true,
    },
    formName: {
      type: String,
      required: true,
    },
  },
  components: { FormRegistration, FormLogin },
  setup() {
    return {};
  },
};
</script>
<style>
.login-form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.login-form-element {
  margin: 5px 0 5px 0;
  box-shadow: 0px 0px 5px gray;
  border: none;
  height: 25px;
  margin-right: 5px;
  border-radius: 5px;
}
.login-form-btn {
  margin: 10px 0 10px 0;
  border: none;
  height: 30px;
  border-radius: 10px;
  background-color: aquamarine;
}
.login-form-btn__content {
  display: flex;
  justify-content: center;
}
.login-form-btn:hover {
  box-shadow: 0px 0px 10px aquamarine;
  color: white;
}
.login-form-element-error {
  color: red;
  margin: 5px 0 5px 0;
  font-size: 12px;
}
</style>
