<template>
  <div>
    <Form @submit="onSubmit" class="login-form">
      <Field
        name="email"
        type="email"
        :rules="validateEmail"
        class="login-form-element"
      />
      <ErrorMessage name="email" class="login-form-element-error" />
      <Field
        name="password"
        type="password"
        :rules="validatePassword"
        class="login-form-element"
      />
      <ErrorMessage
        name="password"
        class="login-form-element-error"
        v-if="formName === 'Registration'"
      />
      <Field
        name="confirmation"
        type="password"
        rules="confirmed:@password"
        class="login-form-element"
        v-if="formName === 'Registration'"
      />
      <ErrorMessage
        name="confirmation"
        class="login-form-element-error"
        v-if="formName === 'Registration'"
      />
      <button class="login-form-btn">{{ formName }}</button>
    </Form>
    <span>{{ responseBack }}</span>
  </div>
</template>
<script>
import { ref } from "vue";
import { Form, Field, ErrorMessage, defineRule } from "vee-validate";
defineRule("confirmed", (value, [target]) => {
  if (value === target) {
    return true;
  }
  return "Passwords should match";
});
export default {
  components: { Form, Field, ErrorMessage },
  props: {
    URL_API: {
      type: String,
      required: true,
    },
    formName: {
      type: String,
      required: true,
    },
  },
  setup(props) {
    const responseBack = ref("");
    const onSubmit = async (values) => {
      const loginData = {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(values, null, 2),
      };
      const response = await fetch(props.URL_API, loginData);
      const data = await response.json();
      responseBack.value = data.message;
    };
    const validateEmail = (value) => {
      if (!value) {
        return "This field is required";
      }
      if (!/^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$/i.test(value)) {
        return "This field must be a valid email";
      }
      return true;
    };
    const validatePassword = (value) => {
      if (!value) {
        return "This field is required";
      }
      if (props.formName === "Registration") {
        if (
          //^ начало строки
          //(?=.*[a-z]) - минимум 1 строчная буква
          //(?=.*[A-Z]) - минимум 1 прописная буква
          //(?=.*[0-9]) - минимум 1 цифра
          //(?=.*[!@#$%^&*]) - минимум 1 спецсимвол из предоставленных
          //(?=.{8,}) - длина пароля минимум 8
          !/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})/.test(
            value
          )
        ) {
          return "Required minimum 1 special symbol like !,@,#,$,%,^,&,*; minimum 1 upper case character, minimum 1 lower case character and minimum 8 elements";
        }
      }

      return true;
    };

    return {
      onSubmit,
      validateEmail,
      validatePassword,
      responseBack,
    };
  },
};
</script>
<style>
.login-form {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.login-form-element {
  margin: 5px 0 5px 0;
  box-shadow: 0px 0px 5px gray;
  border: none;
  height: 25px;
  border-radius: 5px;
}
.login-form-btn {
  margin: 10px 0 10px 0;
  border: none;
  height: 25px;
  border-radius: 10px;
  background-color: aquamarine;
}
.login-form-btn:hover {
  box-shadow: 0px 0px 10px aquamarine;
  color: white;
}
.login-form-element-error {
  color: red;
  margin: 5px 0 5px 0;
  font-size: 12px;
}
</style>
