<template>
  <div>
    <table class="link-info__table">
      <tr>
        <td>
          Оригинальная ссылка:
          <a :href="getLink.from" target="_blank">{{ getLink.from }}</a>
        </td>
      </tr>
      <tr>
        <td>
          Сщкращённая ссылка:
          <a :href="getLink.to" target="_blank">{{ getLink.to }}</a>
          <!-- <div @click="goToLink(getLink.code)">{{ getLink.to }}</div> -->
        </td>
      </tr>
      <tr>
        <td>
          Количество кликов:
          {{ getLink.clicks }}
        </td>
      </tr>
    </table>
  </div>
</template>
<script>
import { computed, onUnmounted, ref } from "vue";
import { useRoute } from "vue-router";
import { useStore } from "vuex";
export default {
  setup() {
    const route = useRoute();
    const store = useStore();
    const link = ref(true);
    const URL_API_LINKS = ref("http://127.0.0.1:5000/api/link");
    setInterval(async () => {
      if (link.value) {
        const linkInfoRequest = await fetch(
          URL_API_LINKS.value + "/" + route.params.id,
          {
            method: "GET",
            headers: {
              "Content-Type": "application/json",
              Authorization: `Bearer ${store.getters.getUser.token}`,
            },
          }
        );
        await linkInfoRequest
          .json()
          .then((json) => store.dispatch("setLinkById", json));
        console.log(1);
      }
    }, 1000);
    onUnmounted(() => {
      link.value = false;
    });
    const goToLink = (code) => {
      fetch("http://localhost:5000/t/" + `${code}`, {
        headers: {
          "Content-Type": "application/json",
          Authorization: `Bearer ${store.getters.getUser.token}`,
        },
      });
      console.log(code);
    };
    const getLink = computed(() => {
      return store.getters.getLink;
    });
    return { getLink, goToLink };
  },
};
</script>
<style>
.link-info__table {
  margin: 0 auto;
  border: 1px solid gray;
  text-align: left;
}
.link-info__table td {
  border: 1px solid gray;
  margin: 5px;
}
</style>
