<template>
  <div>
    <Form :URL_API="URL_API" :formName="formName">
      <slot></slot>
    </Form>
  </div>
</template>
<script>
import Form from "@/components/Form";
import { ref } from "vue";
export default {
  components: {
    Form,
  },
  setup() {
    const URL_API = ref("http://127.0.0.1:5000/api/auth/login/");
    const formName = ref("Login");
    return {
      URL_API,
      formName,
    };
  },
};
</script>
