<template>
  <div>
    <div>
      <input type="text" v-model="todo" />
      <button @click="sendTodo(todo)">Send todo</button>
    </div>
    <label for="todos"
      ><input
        type="radio"
        name="todos"
        id=""
        :value="{
          all: true,
          isImportant: false,
          isCompleted: false,
          notStatus: false,
        }"
        v-model="filterValue"
      />Все</label
    >
    <label for="todos"
      ><input
        type="radio"
        name="todos"
        id=""
        :value="{
          all: false,
          isImportant: false,
          isCompleted: true,
          notStatus: false,
        }"
        v-model="filterValue"
      />Выполненные</label
    >
    <label for="todos"
      ><input
        type="radio"
        name="todos"
        id=""
        :value="{
          all: false,
          isImportant: true,
          isCompleted: false,
          notStatus: false,
        }"
        v-model="filterValue"
      />Важные</label
    >
    <label for="todos"
      ><input
        type="radio"
        name="todos"
        id=""
        :value="{
          all: false,
          isImportant: false,
          isCompleted: false,
          notStatus: true,
        }"
        v-model="filterValue"
      />Не обработанные</label
    >
    <div class="todos__wrapper">
      <div class="todos__element">
        <div class="todos__element-item">Title</div>
        <div class="todos__element-item btn_box">-</div>
      </div>
      <div
        v-for="item in getAlltodos"
        :key="item._id"
        class="todos__element test"
      >
        <div
          class="todos__element-item"
          :class="{
            isImportantTodo: item.important,
            isCompletedTodo: item.completed,
          }"
        >
          {{ item.title }}
        </div>
        <div class="todos__element-item btn_box">
          <img
            :src="require('@/assets/img/exclamation-mark-in-a-circle.svg')"
            alt=""
            class="todos__btn"
            @click="setImportant(item._id)"
            :class="{ isImportant: item.important }"
          />
          <img
            :src="require('@/assets/img/check-mark.svg')"
            alt=""
            class="todos__btn"
            @click="setCompleted(item._id)"
            :class="{ isCompleted: item.completed }"
          />
          <img
            :src="require('@/assets/img/recycle-bin.svg')"
            alt=""
            class="todos__btn"
            @click="deleteTodo(item._id)"
          />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { computed, ref } from "vue";
import { useStore } from "vuex";
export default {
  setup() {
    const store = useStore();
    const todo = ref("");
    const todos = ref([]);
    const filterValue = ref({
      all: true,
      isImportant: false,
      isCompleted: false,
      notStatus: false,
    });
    const API_TODO_LINK = ref("http://localhost:5000/api/todo");
    const getAlltodos = computed(() => {
      if (
        !filterValue.value.all &&
        !filterValue.value.isImportant &&
        filterValue.value.isCompleted &&
        !filterValue.value.notStatus
      ) {
        return store.getters.getTodoByCompleted;
      }
      if (
        !filterValue.value.all &&
        filterValue.value.isImportant &&
        !filterValue.value.isCompleted &&
        !filterValue.value.notStatus
      ) {
        return store.getters.getTodoByImportant;
      }
      if (
        !filterValue.value.all &&
        !filterValue.value.isImportant &&
        !filterValue.value.isCompleted &&
        filterValue.value.notStatus
      ) {
        return store.getters.getTodoByNotStatus;
      }
      return store.getters.getTodo;
    });
    const sendTodo = async (value) => {
      await fetch(API_TODO_LINK.value + "/create", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          Authorization: `Bearer ${store.getters.getUser.token}`,
        },
        body: JSON.stringify({ title: value }, null, 2),
      });
      todo.value = "";
      updateTodosInStore();
    };
    const setCompleted = async (value) => {
      await fetch(API_TODO_LINK.value + "/completed", {
        method: "PUT",
        headers: {
          "Content-Type": "application/json",
          Authorization: `Bearer ${store.getters.getUser.token}`,
        },
        body: JSON.stringify({ todoId: value }, null, 2),
      });
      console.log(123);
      updateTodosInStore();
    };
    const setImportant = async (value) => {
      await fetch(API_TODO_LINK.value + "/importanted", {
        method: "PUT",
        headers: {
          "Content-Type": "application/json",
          Authorization: `Bearer ${store.getters.getUser.token}`,
        },
        body: JSON.stringify({ todoId: value }, null, 2),
      });
      updateTodosInStore();
    };
    const deleteTodo = async (value) => {
      await fetch(API_TODO_LINK.value + "/remove", {
        method: "PUT",
        headers: {
          "Content-Type": "application/json",
          Authorization: `Bearer ${store.getters.getUser.token}`,
        },
        body: JSON.stringify({ todoId: value }, null, 2),
      });
      todo.value = "";
      updateTodosInStore();
    };
    const updateTodosInStore = async () => {
      await fetch(API_TODO_LINK.value, {
        method: "GET",
        headers: { Authorization: `Bearer ${store.getters.getUser.token}` },
      })
        .then((response) => response.json())
        .then((json) => (todos.value = json));
      store.dispatch("setTodos", todos.value);
    };
    updateTodosInStore();
    return {
      todo,
      getAlltodos,
      sendTodo,
      setCompleted,
      setImportant,
      deleteTodo,
      filterValue,
    };
  },
};
</script>
<style>
.todos__wrapper {
  margin-top: 20px;
  box-shadow: 1px 1px 10px cadetblue;
  background: rgba(167, 137, 1, 0.5);
  font-size: 16px;
  font-weight: bold;
  color: #2c3e50;
  border-radius: 10px;
  width: 100%;
  height: auto;
}
.todos__element {
  display: flex;
}
.todos__element-item {
  border-bottom: 1px solid rgb(1, 87, 58);
  word-wrap: break-word;
  /* margin: 5px; */
  padding: 5px;
  width: 80%;
}
.btn_box {
  width: 20%;
}
.todos__btn {
  width: 20px;
  height: 20px;
  margin-left: 25px;
  cursor: pointer;
}
.todos__btn:hover {
  filter: invert(100%);
}
.isCompleted {
  filter: brightness(89%) contrast(0%) sepia(93%) invert(43%) saturate(2300%)
    hue-rotate(90deg);
}
.isImportant {
  filter: brightness(100%) contrast(50%) sepia(100%) invert(10%) saturate(9300%)
    hue-rotate(10deg);
}
.isImportantTodo {
  color: red;
}
.isCompletedTodo {
  background-color: aquamarine;
}
</style>
