<template>
  <div>
    <div>
      <div class="header">
        <ul class="header__list">
          <li
            class="header__list-element"
            :class="{ isSelect: idx + 1 === numSelect }"
            v-for="(item, idx) in headerList"
            :key="idx"
            @click="selecting(idx)"
          >
            {{ item.name }}
          </li>
        </ul>

        <button class="btn__logout" @click="onLogOut">
          Logout
        </button>
      </div>

      <div class="header__link-input" v-if="selected === 'create'">
        <div>
          <input type="text" v-model="link" class="link__input" />
          <button @click="sendLink(link)">Create</button>
        </div>
      </div>
      <div v-if="selected === 'getAll'" class="links__wrapper">
        <div class="links__element">
          <div class="links__element-item">from</div>
          <div class="links__element-item">to</div>
          <div class="links__element-item">clicks</div>
          <div class="links__element-item">date</div>
          <div class="links__element-item">-</div>
        </div>
        <div v-for="item in getAllLinks" :key="item._id" class="links__element">
          <div class="links__element-item">{{ item.from }}</div>
          <div class="links__element-item">
            {{ item.to }}
          </div>
          <div class="links__element-item">{{ item.clicks }}</div>
          <div class="links__element-item">{{ item.date }}</div>
          <div class="links__element-item btn_box">
            <button @click="deleteLink(item._id)" class="button">Delete</button>
            <button @click="linkInfo(item._id)" class="button">Info</button>
          </div>
        </div>
      </div>
      <div v-if="selected === 'todos'">
        <Todos />
      </div>
    </div>
  </div>
</template>
<script>
import { computed, ref } from "vue";
import { useStore } from "vuex";
import { useRouter } from "vue-router";
import Todos from "@/components/UI/Todos";
import {
  successNotify,
  unsuccessNotify,
} from "@/utils/notifications/notifications";
export default {
  components: { Todos },
  emits: ["handleLogOut"],
  setup(props, { emit }) {
    const headerList = ref([
      { id: 1, name: "Создать ссылку" },
      { id: 2, name: "Список ссылок" },
      { id: 3, name: "Список задач" },
    ]);
    const router = useRouter();
    const isSelect = ref(false);
    const selected = ref("");
    const numSelect = ref(0);
    const selecting = (num) => {
      numSelect.value = num + 1;
      num === 0
        ? (selected.value = "create")
        : num === 2
        ? (selected.value = "todos")
        : ((selected.value = "getAll"), getAllLinksBtn());
    };
    const store = useStore();
    const URL_API_LINKS = ref("http://127.0.0.1:5000/api/link");
    const link = ref("");
    const links = ref([]);
    const getAllLinksBtn = async () => {
      const userData = {
        method: "GET",
        headers: { Authorization: `Bearer ${store.getters.getUser.token}` },
      };
      await fetch(URL_API_LINKS.value, userData)
        .then((response) => response.json())
        .then((data) => (links.value = data))
        .catch((e) => console.log(e));
      store.dispatch("setAllLinks", links.value);
    };
    const onLogOut = () => {
      emit("handleLogOut");
    };
    const sendLink = async (value) => {
      const sendingData = {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          Authorization: `Bearer ${store.getters.getUser.token}`,
        },
        body: JSON.stringify({ from: value }, null, 2),
      };
      await fetch(URL_API_LINKS.value + "/generate", sendingData);
      selected.value = "getAll";
      numSelect.value = 2;
      link.value = "";
      getAllLinksBtn();
    };
    const getAllLinks = computed(() => {
      return store.getters.getAllLinks;
    });
    const deleteLink = async (id) => {
      const response = await fetch(URL_API_LINKS.value + "/" + id, {
        method: "DELETE",
        headers: {
          "Content-Type": "application/json",
          Authorization: `Bearer ${store.getters.getUser.token}`,
        },
      });
      const data = await response.json();
      if (response.ok) {
        successNotify(data.message);
      }
      getAllLinksBtn();
    };
    const linkInfo = async (id, watching = true) => {
      router.push({ name: "userLink", params: { id, watching } });
    };
    return {
      link,
      getAllLinks,
      getAllLinksBtn,
      sendLink,
      headerList,
      isSelect,
      numSelect,
      selecting,
      selected,
      onLogOut,
      sendLink,
      deleteLink,
      linkInfo,
    };
  },
};
</script>
<style>
.links__wrapper {
  box-shadow: 1px 1px 10px cadetblue;
  background: rgba(1, 163, 128, 0.733);
  font-size: 16px;
  font-weight: bold;
  color: #2c3e50;
  border-radius: 10px;
  width: 100%;
}
.links__element {
  display: flex;
}
.links__element-item {
  border-bottom: 1px solid rgb(1, 87, 58);
  width: 20%;
  word-wrap: break-word;
  margin: 5px;
}
.header__link-input {
  width: 100%;
}
.link__input {
  width: 90%;
}
.button {
  margin-left: 10px;
  width: 100px;
  background-color: burlywood;
  border-color: burlywood;
  border-radius: 5px;
  cursor: pointer;
  font-family: JetBrainsMono;
}
</style>
