<template>
  <div>
    <UserData @handleLogOut="handleLogOut" />
  </div>
</template>
<script>
import { computed, onMounted, ref } from "vue";
import { useStore } from "vuex";
import { useRouter } from "vue-router";

import Spinner from "@/components/UI/Spinner";
import UserData from "@/components/UI/UserData";
export default {
  components: { Spinner, UserData },
  setup() {
    const store = useStore();
    const router = useRouter();
    const isUser = ref(false);
    onMounted(async () => {
      (await localStorage.getItem("KapayJI-login-system"))
        ? store.dispatch("setUser", [
            "KapayJI-login-system",
            JSON.parse(localStorage.getItem("KapayJI-login-system")),
          ])
        : router.push({ name: "home" });
    });
    const getUser = computed(() => {
      return store.getters.getUser;
    });
    const handleLogOut = () => {
      console.log(123);
      router.push({ name: "home" });
      store.dispatch("delUser", "KapayJI-login-system");
    };
    return {
      getUser,
      handleLogOut,
      isUser,
    };
  },
};
</script>
