<template>
  <div>
    <Form @submit="onSubmit" class="login-form">
      <Field
        name="email"
        type="email"
        rules="required|email"
        class="login-form-element"
        placeholder="example@example.com"
      />
      <ErrorMessage name="email" class="login-form-element-error" />
      <Field
        name="password"
        type="password"
        rules="required"
        class="login-form-element"
        placeholder="Password"
      />
      <ErrorMessage name="password" class="login-form-element-error" />
      <button class="login-form-btn">{{ formName }}</button>
    </Form>
    <!-- <span>{{ responseBack }}</span> -->
  </div>
</template>
<script>
import { ref } from "vue";
import { Form, Field, ErrorMessage } from "vee-validate";
import { useRouter } from "vue-router";
import { useStore } from "vuex";
import {
  successNotify,
  unsuccessNotify,
} from "@/utils/notifications/notifications";

export default {
  components: { Form, Field, ErrorMessage },
  props: {
    URL_API: {
      type: String,
      required: true,
    },
    formName: {
      type: String,
      required: true,
    },
  },
  setup(props) {
    const router = useRouter();
    const store = useStore();
    const responseBack = ref("");
    const onSubmit = async (values) => {
      const loginData = {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(values, null, 2),
      };
      const response = await fetch(props.URL_API, loginData);
      const data = await response.json();
      // console.log(data);
      if (response.ok) {
        if (data.token && data.userId) {
          responseBack.value = data.message;
          console.log(data);
          successNotify(responseBack.value);
          store.dispatch("setUser", ["KapayJI-login-system", data]);
          router.push({ name: "user" });
        }
      } else {
        responseBack.value = data.message;
        unsuccessNotify(responseBack.value, 10);
      }
    };
    return {
      onSubmit,
      responseBack,
    };
  },
};
</script>
