<template>
  <div>
    <Form @submit="onSubmit" class="login-form">
      <Field
        name="email"
        type="email"
        rules="required|email"
        class="login-form-element"
        placeholder="example@example.com"
        autocomplete="off"
      />
      <ErrorMessage name="email" class="login-form-element-error" />
      <Field
        name="nickname"
        type="text"
        rules="required|nickname"
        class="login-form-element"
        placeholder="Nickname"
        autocomplete="off"
      />
      <ErrorMessage name="nickname" class="login-form-element-error" />
      <Field name="sex" as="select" class="login-form-element">
        <option>male</option>
        <option>female</option>
      </Field>
      <Field
        name="password"
        type="password"
        rules="required|password"
        class="login-form-element"
        placeholder="Password"
        autocomplete="off"
      />
      <ErrorMessage name="password" class="login-form-element-error" />
      <Field
        name="confirmation"
        type="password"
        rules="confirmed:@password"
        class="login-form-element"
        placeholder="Confirm password"
        autocomplete="off"
      />
      <ErrorMessage name="confirmation" class="login-form-element-error" />
      <button class="login-form-btn" :disabled="!isResponsed">
        <div class="login-form-btn__content">
          <span><Spinner :height="15" :width="15" v-if="!isResponsed"/></span>
          {{ formName }}
        </div>
      </button>
    </Form>
    <!-- <span>{{ responseBack }}</span> -->
  </div>
</template>
<script>
import { ref } from "vue";
import {
  successNotify,
  unsuccessNotify,
} from "@/utils/notifications/notifications";
import { Form, Field, ErrorMessage } from "vee-validate";
import { useRouter } from "vue-router";
import Login from "@/components/UI/Login";
import Spinner from "@/components/UI/Spinner";

export default {
  components: { Form, Field, ErrorMessage, Login, Spinner },
  props: {
    URL_API: {
      type: String,
      required: true,
    },
    formName: {
      type: String,
      required: true,
    },
  },
  setup(props) {
    const router = useRouter();
    const responseBack = ref("");
    const isResponsed = ref(true);
    const onSubmit = async (values) => {
      isResponsed.value = false;
      const loginData = {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(values, null, 2),
      };
      const response = await fetch(props.URL_API, loginData);
      const data = await response.json();
      responseBack.value = data.message;
      response.ok
        ? (successNotify(responseBack.value), (isResponsed.value = true))
        : unsuccessNotify(responseBack.value);
      router.push({ name: "login" });
    };
    return {
      onSubmit,
      responseBack,
      isResponsed,
    };
  },
};
</script>
